@import url('https://fonts.googleapis.com/css2?family=Comfortaa:wght@300;400;500;600;700&family=Poppins:wght@300;400;500;600;700;800&display=swap');

* html {
  margin: 0;
  padding: 0;
  font-family: 'Comfortaa', cursive;
}

.background {
    overflow: auto;
    background-image: linear-gradient(0deg, #011A48, #1E4954);
    background-size: cover;
    background-attachment: fixed;
    height: 100vh; /* Sesuaikan dengan kebutuhan Anda */
}

.content {
  margin-left: 50vh;
  margin-top: 20vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center; 
  gap: 30px;
  background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0.28) 0%,
    rgba(255, 255, 255, 0) 100%
  );
  backdrop-filter: blur(30px);
  border-radius: 20px;
  width: min(900px, 100%);
  box-shadow: 0 0.5px 0 1px rgba(255, 255, 255, 0.23) inset, 0 1px 0 0 rgba(255, 255, 255, 0.66) inset, 0 4px 16px rgba(0, 0, 0, 0.12);
  z-index: 10;
}

.info {
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 550px;
  padding: 0 35px;
  text-align: justify;
}

.info p{
  color: #fff;
  font-weight: 500;
  font-size: 1rem;
  margin-bottom: 20px;
  line-height: 1.5;
  font-size: 1.5vh;
}


/* SWIPER */

.swiper {
  width: 250px;
  height: 450px;
  padding: 50px 0;
}

.swiper-slide {
  position: relative;
  box-shadow: 0 15px 50px rgba(0, 0, 0, 0.2);
  border-radius: 10px;
}

.swiper-slide span {
  position: absolute;
  top: 0;
  right: 0;
  color: #fff;
  padding: 7px 18px;
  margin: 10px;
  border-radius: 20px;
  letter-spacing: 2px;
  font-size: 0.8rem;
  font-weight: 700;
  font-family: inherit;
  background: rgba(255, 255, 255, 0.095);
  box-shadow: inset 2.01px -2.01px 20px rgba(214, 214, 214, 0.17), inset -3.01333px 3.01333px 3.01333px rgba(255, 255, 255, 0.39);
  backdrop-filter: blur(74px);
}

.swiper-slide h2 {
  position: absolute;
  bottom: 0;
  left: 0;
  color: #fff;
  font-weight: 400;
  font-size: 1.1rem;
  line-height: 1.4;
  margin: 0 0 20px 20px;
}

.swiper-slide:nth-child(1n) {
  background: linear-gradient(to top, #0f2027, #203a4300, #2c536400), url(/gambar/tchalla.jpeg)
      no-repeat 50% 50% / cover;
}



/* css gweh */
.navbar {
  border-radius: 3vh;
}

.btn1 {
  margin-bottom: 1vh;
  margin-left: 1vh; 
  background-color:transparent;
  border: none;
  color: transparent;
  filter: invert(100%);
  transform: translateY(20%);
}

.form-control {
  margin-bottom: 1vh;
  margin-right: 10vh; 
  transform: translateY(20%);
  
}

.btn {
  margin-bottom: 1vh;
  margin-right: 0vh; 
  transform: translateY(20%);
 
}   

.nav-item.dropdown:hover .dropdown-menu {
  display: block;
}

.bg {
  position: fixed;
  top: -4rem;
  left: -12rem;
  z-index: -1;
  opacity: 0;
}

.bg2 {
  position: fixed;
  bottom: -2rem;
  right: -3rem;
  z-index: -1;
  width: 9.375rem;
  opacity: 0;
}

@media screen and (min-width: 48rem) {
  main {
    display: flex;
    align-items: center;
  }

  .bg,
.bg2 {
    opacity: 0.3;
  }
}

  
  /* css gweh */
  .btn1 {
    margin-bottom: 1vh;
    margin-left: 1vh; 
    background-color:transparent;
    border: none;
    color: transparent;
    filter: invert(100%);
    transform: translateY(20%);
  }
  
  .form-control {
    margin-bottom: 1vh;
    margin-right: 10vh; 
    transform: translateY(20%);
    
  }
  
  .btn {
    margin-bottom: 1vh;
    margin-right: 0vh; 
    transform: translateY(20%);
   
  }   
  
  .nav-item.dropdown:hover .dropdown-menu {
    display: block;
  }
  
  .bg {
    position: fixed;
    top: -4rem;
    left: -12rem;
    z-index: -1;
    opacity: 0;
  }
  
  .bg2 {
    position: fixed;
    bottom: -2rem;
    right: -3rem;
    z-index: -1;
    width: 9.375rem;
    opacity: 0;
  }
  
  @media screen and (min-width: 48rem) {
    main {
      display: flex;
      align-items: center;
    }
  
    .bg,
  .bg2 {
      opacity: 0.3;
    }
  }
